{% extends 'amadeus/base.html' %}

{% block title %} Patient Search {% endblock %}

{% block content %}
    <div class="col-5">
        <h3>Set Parameters: </h3>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.surname }}
                {{ form.gender }}
                <br>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
{% endblock %}
